<!-- Fill in the blanks reading starts -->
<script>
        $(".fillReading").click(function(){
          var answers = new Array();
          $(".lanswer").each(function(){
            
            answers.push($(this).val().trim());
          })
          
          
          $(".introleadin").each(function(){
            var a = $(this).find("option:selected").text();
            var correctWord = $(this).closest('.correctword');
            $('.correctword').show();
           
            if (jQuery.inArray(a,answers) == -1){
        
           
              $(this).addClass('alert alert-danger');
            }else{
              
              $(this).addClass('alert alert-success ');
              
            }
          });
          $('.answerlist').show();
        });
        </script>
      <!-- Fill in the blanks ends-->