<!-- Fill in the blanks reading starts -->
<script>
        $(".fillReading").click(function(){
          var answers = new Array();
          $(".lanswer").each(function(){
            
            answers.push($(this).val().trim());
          })
          
          
          $(".introleadin").each(function(){
            var a = $(this).find("option:selected").text();
            var correctWord = $(this).closest('.correctword');
            $('.correctword').show();
           
            if (jQuery.inArray(a,answers) == -1){
        
           
              $(this).addClass('alert alert-danger');
            }else{
              
              $(this).addClass('alert alert-success ');
              
            }
          });
          $('.answerlist').show();
        });
        </script>
      <!-- Fill in the blanks ends-->

      <script>
        /* this scripts is used by listening and reading */
        $('#replacewords').each(function() {
          var text = $(this).text();
          $(this).text(text.replaceWith('XXXX', '<div class="col-xs-2"><input class="form-control" id="ex1" type="text"></div>')); 
      });
      
      
      </script>