<!--highligh incorrect words section start-->
<script>
        $(".checkhighlight").click(function() {
          $(".actual").show();
          $(".clickable").each(function(){
            if ($(this).hasClass('crr')){
              $(this).addClass('alert alert-success');
      
            }else{
             
              if($(this).hasClass('alert alert-success')){
                $(this).addClass('alert alert-danger');
              }
            }
            $(this).off('click');
          });
      
        });
        
      </script>
      <script>
          $(".clickable").click(function() {
            
            var $el = $(this);
      
            
      
            if ( $el.hasClass('alert alert-success') ) {
              $el.removeClass('alert alert-success');
              
            }
            else {
              $el.addClass('alert alert-success');
         
            }
      
            
          
        });
          
        </script>
      
      <!--highligh incorrect words section end-->  

      <script> 
        /* this script is used by select missing word as well*/
          $(document).ready(function(){
          
          jQuery('.getvalue').on('click', function(e) {
          $('.message').css('visibility','visible');
          $('.message').show().text($("input:radio[name=optradio]:checked").val());
          if ($('#answer').text()==$("input:radio[name=optradio]:checked").val()){
            $('.message').removeClass('alert-danger').addClass('alert-success');
            
          }else{
          $('.message').removeClass('alert-success').addClass('alert-danger');
          $('.message').show().text($("input:radio[name=optradio]:checked").val());
          }
          });
          });
          
          </script>