<!--Payment scripts starts here -->

<script>
$(document).ready(function(){
    $("#paymentCreate").click(function (){
      var modal = document.getElementById("myModal");
      modal.style.display="block";
        var radiovalue = $("input[name='optradio']:checked").val();
    
      function getCookie(name){
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
    
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
      
      $.ajax({
              type : "POST",
              url : '{% url "process_payment"  %}',
              data : {
                csrfmiddlewaretoken : getCookie('csrftoken'),
                payment_gateway : radiovalue,
              },
              success : function(response){
                window.location.href = response;
                
                $('.paymentCr').hide();
                $('.paymentEx').show();
              }
      })
    
    
    });});
    </script>
    
       <!--Payment scripts ends here -->