{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<section id="get-started" class="padd-section">
<br>
<div class="container">
       
    <div class="container-fluid"> 
             
        <div class="row content">
        
          <div class="col-sm-12 "> 
              <h1 class="card-title text-center">List of Academic words with Examples</h1>
              <br>  
              <br>
              <br>  
              <div class="col-md-12">
                  {% for word in object_list %}
                  <h1>{% if word.addition_1 %}<span class="text-danger small">{{word.addition_1}}</span>{% endif %} {{word.component_1}} {% if word.pos_1 %} <span class="text-warning small">{{word.pos_1}}</span> {% endif %} {% if word.addition_2 %} <span class="text-danger small">{{word.addition_2}}</span> {% endif %} {{word.component_2}} {% if word.pos_2 %} <span class="text-warning small">{{word.pos_2}}</span>  {% endif %} </h1>
                  <p align="justify">{% highlight word.component_1 word.component_2 word.academic_in_sentence %}</p>
                  <div>
              <!--<div class="pull-right"><a href="#" class="badge badge-primary">Don't ask again</a> <a href="#" class="badge badge-success">I have no idea</a> <a href="#" class="badge badge-info">Another Example</a> <a href="#" class="badge badge-warning">Warning</a>
              <a href="#" class="badge badge-danger">Danger</a></div> -->        
                   </div>
                  <hr>
                  
                  {% endfor %}
              </div>
          
      
          </div>
          
          </div>
        </div>
      </div>
    </section>  
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}

</div>
      {% endblock %}
    



