{% extends "base.html" %}
{% block content %}
<section id="get-started" class="padd-section text-center">
<div class="container">
                {% for object in object_list %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 text-center">
            
                
                <p ><strong>Look at the {% if object.image_type %}{{object.image_type}} {% else %} graph {% endif %} below. In 25 seconds, please speak into the microphone 
                        and describe in detail what the {% if object.image_type %}{{object.image_type}} {% else %} graph {% endif %} is showing. You will have 40 seconds to give your response.
                  
                  </div>

      </div>
     
      
       
      <br>
      <div class="row">
                <div class="retellimage col-lg-8 mb-8 centered">
                                <div class="card h-100 ">
                                 {% if object.image %} <img style="max-height: 100%;max-width: 100%" src="{{object.image.url}}" alt="image">{% endif %}
                                  <div class="card-body">
                                   
                                </div>
                                 
                                </div>
                              </div>
            <div class="col-lg-3 mb-3 centered">
                        <div class="card">
                      
                                        <h4 class="card-header">Audio</h4>
                                        <div class="card-body">
                                            <input id='preparation' value='25' hidden>
                                            <p id="messageMain" class="text-danger" > <span id="message">Recording in </span><strong><span id="countdown" value="25"></span></strong> Seconds</p>
                                           
                                            <progress value="0" max="25" id="progress"></progress>
                                            <br>
                                            </div>
                                        
                                      </div>
                   
                                      <div class="card">
                                          <h4 class="card-header">Model Answer</h4>
                                          <div id="showlecture" >{% if object.model_answer_text %}<a href="#" class="lecturebadge badge badge-success">Show Text</a>{% endif %}</div>
                                          <div class="card-body">
                                            {% if object.model_answer_audio %}
                                            <audio id="modelanswer" style="visibility:hidden" controls controlsList="nodownload"><source src="{{ object.model_answer_audio.url }}" type="audio/mpeg"></audio>
                                              <div class="player text-center">
                                            <button type="button" id="button_play" class="btn btn-sm btn-success" onclick='playModelAnswer()'>
                                                  <i class="fa fa-play"></i>
                                                </button>
                                                
                                                <button type="button" id="button_stop" class="btn btn-sm btn-danger" onclick='StopModelAnswer()'>
                                                  <i class="fa fa-stop"></i>
                                                </button>
                                               {% else %}
                                               <p>No model answer for this question yet.</p>
                                                 {% endif %}
                                              </div>
                                           
                                    </div>
                                         
                                        </div>
                  </div>
                  
      </div>
      <br>
      <div class="lecturerow row" style="display:none">
          <div class="col-lg-11 mb-11 centered">
              <div class="card h-100">
               asdas
                <div class="card-body">
                    {% if object.model_answer_text %} <p align="justify" style="font-size: 12px">{{ object.model_answer_text }}</p>{% endif %}
              </div>
               
              </div>
            </div>
           
    {% endfor %}
        
     

</div>

{% block pagination %}
{% include "pagination.html" %}
{% endblock %}

      {% endblock %}
    
    </div>
    </section>

