{% extends "base.html" %}
{% block content %}
<section id="get-started" class="padd-section text-center">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 text-center">
                            
                                <h4 class="card-title">Question</h4>
                                <p ><strong>
                             Below is a text with blanks. Click on each blank, a list of choices will appear. Select the appropriate answer choice for each blank.


                                </strong></p>   
                        </div>
        
                      </div>
                      <br>
                      {% for object in object_list %}
                      <div class="row">
                        <div class="col-lg-12 mb-12 centered">
                        {% for item in object.answers %}
                        <input class="lanswer" style="display:none" value="{{item}}">
                        {% endfor %} 
                        <p id="replacewords" class="text-justify"> 
                          {% for word in object.paragraph %}
                          {% if word|lower in object.answers %}
                          <select id="introleadin" name="answer" class="introleadin" data-step='2'>
                          
                              <option value="-----"> </option>
                              {% if word|lower in object.option_1 %} {% for option in object.option_1 %}<option value="{{option}}">{{option}}</option>{% endfor %}
                             
                              {% elif word|lower in object.option_2 %}{% for option in object.option_2 %}<option value="{{option}}">{{option}}</option>{% endfor %}
                              {% elif word|lower in object.option_3 %}{% for option in object.option_3 %}<option value="{{option}}">{{option}}</option>{% endfor %}
                              {% elif word|lower in object.option_4 %}{% for option in object.option_4 %}<option value="{{option}}">{{option}}</option>{% endfor %}
                              {% elif word|lower in object.option_5 %}{% for option in object.option_5 %}<option value="{{option}}">{{option}}</option>{% endfor %}
                              {% endif %}
                            </select>
                            <span class=" alert alert-warning correctword" style="display:none" >{{ word|lower }}</span>
                          
                          
                          
                            
                            
                            {% else %}{{ word }}{% endif %}
  
                          {% endfor %}
                      </p></div>
                      </div>
                      <br>
                      
                      <br>
                      
                      <div class="row">
                          <div class="col-lg-6 mb-6 centered">
                            <button type="button" class="btn btn-success fillReading">Check my Answers</button>
                                </div>
                    </div>
                      {% endfor %}
              </div>
        <br>
        <br>
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}


</div></section>
      
      {% endblock %}
    



