{% extends "base.html" %}
{% block content %}
<section id="get-started" class="padd-section text-center">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 text-center">
                            
                                <h4 class="card-title">Question</h4>
                                <p ><strong>
                                    You will hear a recording. Type the missing words in each blank.


                                </strong></p>   
                        </div>
        
                      </div>
                      <br>
                      {% for object in object_list %}
                      <div class="row">
                            <div class="col-lg-4 mb-4 centered">
                                    <div class="card h-100">
                                      
                                      <h4 class="card-header">Audio</h4>
                                      <div class="card-body">
                                          <input id='seconds' value='8' hidden>
                                          <p> Playing in <span id="countdowntimer">8 </span> Seconds</p>
                                          <progress value="0" max="8" id="progressBar"></progress>
                                          <br>
                                          <audio id="audioContent" controls controlsList="nodownload"><source src="{{ object.audio.url }}" type="audio/mpeg"></audio>
                                      </div>
                                      
                                    </div>
                                  </div>
                      </div>
                      <br>
                      
                      <br>
                      <div class="row">
                            <div class="col-lg-12 mb-12 centered">
                                <p id="replacewords" class="text-justify"> 
                                    {% for word in object.paragraph %}
                                    {% ifequal word "XXXX" %}<input size="10" name="answer"  class="userData" data-step='3'   spellcheck="false" value="" type="text"> {% else %}{{ word }}{% endifequal %}
            
                                    {% endfor %}
                                </p>
                                  </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 mb-6 centered">
                                  <div class="card h-100">
                                    <h4 class="card-header">Answer</h4>
                                    {% for item in object.answers %}
                                    <input class="lanswer" style="display:none" value="{{item}}">
                                    {% endfor %}
                                    <div class="card-body  centered">
                                        <div class=" answerlist row" style="display:none"> 
                                        {% for answer in object.answers %}
                                        <span class="alert alert-success spanfillblanks"> {{answer}} </span>
                                        
                                       
                                       {% endfor %}
                                        </div>
                                    
                                      <button type="button"  class="btn btn-success btn-sm checkButton">Check My Answer</button>
                                  </div>
                                   
                                  </div>
                                </div>
                    </div>
                      {% endfor %}
              </div>
        <br>
        <br>
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}


</div></section>
      {% block essay-js %}
      {% include "scripts/answer-short-questions.html" %}
      {% endblock %}
      {% endblock %}
    



