{% extends "base.html" %}
{% block content %}
<section id="get-started" class="padd-section text-center">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 text-center">
                            
                                <h4 class="card-title">Question</h4>
                                <p ><strong>
                                    Listen to the question and answer the question by selecting all the correct responses. You will need to select more than one response.

                                </strong></p>   
                        </div>
        
                      </div>
                      <br>
                      {% for object in object_list %}
                      <div class="row">
                          {% if object.audio %}
                            <div class="col-lg-4 mb-4 centered">
                                    <div class="card h-100">
                                      
                                      <h4 class="card-header">Audio</h4>
                                      <div class="card-body">
                                          <input id='seconds' value='8' hidden>
                                          <p> Playing in <span id="countdowntimer">8 </span> Seconds</p>
                                          <progress value="0" max="8" id="progressBar"></progress>
                                          <br>
                                          <audio id="audioContent" controls controlsList="nodownload"><source src="{{ object.audio.url }}" type="audio/mpeg"></audio>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  {% else %}<p class="text-justify"> {{ object.paragraph}}</p>
                                  {% endif %}

                      </div>
                      
                      <br>
                      <div class="row">
                            <div class="col-lg-8 mb-8 centered">
                                    <div class="card h-100">
                                      <h4 class="card-header">Answer</h4>
                              {% if object.question %} <p style="font-size: 20px">{{object.question}}</p> {% endif %}
                                    <div class="checkboxes selectradio  text-left">
                                     
                              <div class="checkbox"><label class="hu"><input  name="checkbox1" type="checkbox" value="{{object.option_1}}" id="defaultCheck1"> {{object.option_1}}</label></div>
                              <div class="checkbox"><label class="hu"><input  name="checkbox2" type="checkbox" value="{{object.option_2}}" id="defaultCheck1"> {{object.option_2}}</label>  </div>  
                              <div class="checkbox"><label class="hu"><input  name="checkbox3" type="checkbox" value="{{object.option_3}}" id="defaultCheck1"> {{object.option_3}}</label>   </div>
                              <div class="checkbox"><label class="hu"><input  name="checkbox4" type="checkbox" value="{{object.option_4}}" id="defaultCheck1"> {{object.option_4}}</label></div>
                              {% if object.option_5 %}
                              <div class="checkbox5"><label><input name="checkbox4" type="checkbox" value="" id="defaultCheck1"> {{object.option_5}}</label></div>
                              {% endif %}
                                     
                                    </div>
                                      <div class="card-body">
                                            
                                        <input class="answers"  style=" display:none;" value="{{object.answers}}">
                                      
                                        <button type="button"  class="btn btn-success btn-sm multipleCheck">Check My Answer</button>
                                    </div>
                                  </div>
                                    </div>
                                  </div>
                      </div>
                      {% endfor %}
              </div>
        <br>
        <br>
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}


</div></section>
      
      {% endblock %}
    



