{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<section id="get-started" class="padd-section text-center">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 text-center">
                            
                                <h4 class="card-title">Question</h4>
                                <p ><strong>
                                  The text boxes in the left panel have been placed in a 
                                  random order. Restore the original order by dragging the text boxes from the left panel to the right panel.
                                </strong></p>   
                        </div>
        
                      </div>
                      <br>
                      
                      <div class="row">
                        <div id="connected col-sm-8">
                          <!--<h4 class="list-group-item-heading text-center">Unordered Options</h4> -->
                           
                          <ul class="connected list">
                              
                              
                              {% for object in object_list %}
                              {% for item in object.answer %}
                              <input class="answerlist" type="hidden" id="myVar" name="variable" value="{{item}}">
                              {% endfor %}
                              {% for item in object.answer|shuffle_list %}
                              
                              <li id="item{{forloop.counter0}}" value="{{item}}">{{item}}</li>
                            
                              {% endfor %}
                              {% endfor %}
                            
                            </ul>
                            
                            <ul id="list2" class="connected list no2">
                              <!--  <h4 class="list-group-item-heading text-center">Correct Answers</h4> -->
                                
                               
                            </ul>

                      </div>
                      
                      <br>
                      <div class="row centered">
                        <div class="text-center"><button type="button" class="btn btn-success checkParagraph">Check my Answers</button></div>
                                  </div>
                      </div>
                      
              </div>
        <br>
        <br>
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}


</div></section>
      
      {% endblock %}
    



