{% extends "base.html" %}
{% block content %}
<section id="get-started" class="padd-section text-center">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 text-center">
            
                
                <p ><strong>You will hear a lecture. After listening to the lecture, in 10 seconds, 
                        please speak into the microphone and retell what you have just heard from the lecture in your own words.
                         You will have 40 seconds to give your response. 
                  
                  </div>

      </div>
      {% for object in object_list %}
      
       
      <br>
      <div class="row">
                <div class="retellimage col-lg-8 mb-8 centered">
                                <div class="card h-100">
                                 {% if object.image %} <img src="{{object.image.url}}" alt="image">{% endif %}
                                  <div class="card-body">
                                   
                                </div>
                                 
                                </div>
                              </div>
            <div class="col-lg-3 mb-3 centered">
                        <div class="card ">
                      
                                        <h4 class="card-header">Audio</h4>
                                        <div class="card-body">
                                            <input id='intro' value='8' hidden>
                                            <p id="messageMain" class="text-danger" > <span id="display">Starting in </span><strong><span id="countdowntimer" value="25"></span></strong> Seconds</p>
                                           
                                            <progress value="0" max="8" id="prog"></progress>
                                            <audio id="question" style="display:none" controls controlsList="nodownload"><source src="{{ object.audio.url }}" type="audio/mpeg"></audio>
                       
                                            <br>
                                            </div>
                                        
                                      </div>
                   
                                      <div class="card">
                                          <h4 class="card-header">Model Answer</h4>
                                          <div id="showlecture" ><a href="#" class="lecturebadge badge badge-success">Lecture Text</a></div>
                                          <div class="card-body">
                                            
                                            <audio id="modelanswer" style="visibility:hidden" controls controlsList="nodownload"><source src="{{ object.model_answer.url }}" type="audio/mpeg"></audio>
                                              <div class="player text-center">
                                            <button type="button" id="button_play" disabled class="btn btn-sm btn-success" onclick='playModelAnswer()'>
                                                  <i class="fa fa-play"></i>
                                                </button>
                                                
                                                <button type="button" id="button_stop" class="btn btn-sm btn-danger" onclick='StopModelAnswer()'>
                                                  <i class="fa fa-stop"></i>
                                                </button>
                                               
                                                 
                                              </div>
                                           
                                    </div>
                                         
                                        </div>
                  </div>
                  
      </div>
      <br>
      <div class="lecturerow row" style="display:none">
          <div class="col-lg-11 mb-11 centered">
              <div class="card h-100">
               
                <div class="card-body">
                    {% if object.lecture %} <p align="justify" style="font-size: 12px">{{ object.lecture }}</p>{% endif %}
              </div>
               
              </div>
            </div>
           
    {% endfor %}
        
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}

</div>
      {% endblock %}
    

    </section>

