{% extends "base.html" %}
{% block content %}
<section id="get-started" class="padd-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12 text-right">
                    <!--<p style="float:left"><a class="badge badge-success text-white">Sample Answer</a>  </p>-->
                    <p>Time Remaining: <span  class="badge badge-danger" id="time" >10:00</span>  </p>
                </div>

              </div>

              
                <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 ">
                            
                                <h4 class="card-title">Question</h4>
                                <br>
                                <p class="text-justify"><strong>
                                        You will hear a short lecture. Write a summary for a fellow student who was not present at the lecture. You should write 50-70 words. You have 10 minutes to finish this task. Your response will be judged on the Quality of Your writing and on how well 
                                        your response presents the key points presented in the lecture.

                                </strong></p>   
                        </div>
        
                      </div>
                     
                      {% for object in object_list %}
                      <div class="row">
                            <div class="col-lg-4 mb-4 centered">
                                    <div class="card h-100">
                                      
                                      <h4 class="card-header">Audio</h4>
                                      <div class="card-body">
                                          <input id='seconds' value='8' hidden>
                                          <p> Playing in <span id="countdowntimer">8 </span> Seconds</p>
                                          <progress value="0" max="8" id="progressBar"></progress>
                                          <br>
                                          <audio id="audioContent" controls controlsList="nodownload"><source src="{{ object.audio.url }}" type="audio/mpeg"></audio>
                                      </div>
                                      
                                    </div>
                                  </div>
                      </div>
                      <div class="row" style="display:none">
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            
                                
                                <p class="text-justify">
                                  {{ object.paragraph}}
                                </p>   
                        </div>
        
                      </div>
                   
                     
                      <div class="essayArea row">
                            <div class="col-lg-12 mb-12 centered">
                              <textarea id="word_count" class=" essaytextarea border border-secondary" style="width:100%; height:200px" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea> <br>
                              
                                  </div>
                      </div>
                      {% if object.model_answer %}
                      <div class="sampleArea row" style="display:none">
                          <div class="col-lg-12 mb-12 centered">
                            <textarea id="modelanswer" class=" border border-secondary" oncopy="return false" onpaste="return false" style="width:100%; height:150px" readonly>{{ object.model_answer }}</textarea> <br>
                            
                                </div>
                    </div>
                    {% endif %}
                      <br>
                      <div class="row">
                        <div class="col-lg-12 mb-12 centered">
                    
                         <!--<button onclick="cut()" class="btn btn-success btn-sm pull-left" >Cut</button>-->
                          <button id="essaybutton" onclick="showSampleEssay()" class="btn btn-success btn-sm">Show Sample Answer</button>
                         <!-- <button onclick="paste()" class="btn btn-success btn-sm pull-right" >Paste</button>-->
                              </div>
                  </div>
                  <br>
                      <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 text-left">
                            
                               
                                <p ><strong>
                                  Total word count: <span id="display_count">0</span> words
                                </strong></p>   
                        </div>
        
                      </div>
                      {% endfor %}
              </div>
        <br>
        <br>
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}


</div></section>
      
      {% endblock %}




