{% extends "base.html" %}
{% block content %}
<section id="get-started" class="padd-section text-center">
<div class="container">
    <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav">
            
          </div>
          <div class="col-sm-8 text-center"> 
              <h4 class="card-title">Question</h4>
              <p class="text-justify" ><strong> You will have 20 minutes to plan, write and revise an essay about the topic below. Your response will be judged on how well you develop a position, organize your ideas, present supporting details,
                 and control the elements of standard written English. You should write 200-300 words.</strong></p>
              <table class="table table-hover">
                  <thead>
                        {% for object in object_list %}
                    <tr>
                     
                            <p c> {{ object.topic}}</p>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <div float="right" class="text-center col-sm-2 border border-secondary"><span id="time">20:00</span></div>
                      </tr>
                    <tr>
                      
                    
                      <td>
                        
                            <textarea id="word_count" class="essayArea" style="width:700px; height:200px" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea> <br>
                            Total word count: <span id="display_count">0</span> words
                            <button onclick="cut()">Cut</button>
                            <button onclick="copy()">Copy</button>
                            <button onclick="paste()">Paste</button>
                            
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                     
                        <th scope="col text-right"></th>
                        <th scope="col"></th>
                        <th scope="col"><button type="button" class="btn btn-success spellCheck">Check my Answers</button></th>
                      </tr>
                  </tbody>
                  

                </table>
                
          
          
      
          
      
          </div>
          <div class="col-sm-2 sidenav">
          
        
            </div>
          </div>
        </div>
      </div>
        
      {% block pagination %}
      {% include "pagination.html" %}
      {% endblock %}


</div></section>
      {% endblock %}
    



