{% extends "base.html" %}

{% block content %}
<br>
<br>
	
<section id="about-us" class="about-us padd-section">
		<div class="container">

<div class="row no-gutters">
	<div class="card bg-light col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<div class="card-header">Log In</div>
		<form method="post" action="{% url 'account_login' %}">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next_url }}" />
			<div class="card-body">
				{% if error %}
				<p class="text-danger">
					{{ error|safe }}
				</p>
				{% endif %}
				<div class="form-group">
					<input id="id_username" name="username" type="text" value="{{ username }}" required="" class="form-control" placeholder="Username or email" />
				</div>
				<div class="form-group">
					<input id="id_password" name="password" type="password" class="form-control" placeholder="Password">
				</div>
				<div>
					<a href="{% url 'account_register' %}{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" class="card-link link-color" data-toggle="tooltip" title="Register to shop faster and better!">Register</a>
					<a href="{% url 'account_forgot_password' %}" class="card-link link-color " data-toggle="tooltip" title="Request new password">Forgotten password?</a>
					<a href="{% url 'resend_activation_link' %}" class="card-link link-color" data-toggle="tooltip" title="Request new password">New activation link?</a>
					
					<div class="text-right">
							<br>
							<button href="#" class="btn btn-success btn-lg"><span class="fa fa-lock"></span> Login</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>
</section>
{% endblock %}