{% extends "base.html" %}

{% block content %}
	
<section id="about-us" class="about-us padd-section">
		<div class="container">
<div class="row no-gutters">
	<div class="card bg-light col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<div class="card-header">Sign Up</div>
		<!--{% if success %}
		<div class="card-body">
			<p class="text-success">{{ success|safe }}</p>
		</div>
		{% else %}-->
		<form method="post" action="{% url 'account_register' %}">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next_url }}" />
			<div class="card-body">
				
				{% if form.password.errors %}<p class="text-danger">Password Complexity </p>{{form.password.errors }}{% endif %}
				{% if form.confirm_password.errors %}<p class="text-danger">Password Confirmation</p>{{form.confirm_password.errors }}{% endif %}
				{% if form.confirm_email.errors %}<p class="text-danger">Email Confirmation</p>{{form.confirm_email.errors }}{% endif %}
				
				
				
				<div class="form-row">
					<div class="col-sm-12 col-md-6 form-group">
						<input id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}" type="text" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" placeholder="First name" required="" value="{{ form.first_name.value|default:'' }}" />
						
					</div>
					<div class="col-sm-12 col-md-6 form-group">
						<input id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" type="text" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" placeholder="Last name" required=""  value="{{ form.last_name.value|default:'' }}" />
						
					</div>
			  </div>
				<div class="form-row">
					<div class="col-sm-12 col-md-6 form-group">
							<div class="input-group">
									<div class="input-group-prepend">
									  <div class="input-group-text">@</div>
									</div>
						<input id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="Email" required=""  value="{{ form.email.value|default:'' }}" />
						
						
					</div>
					</div>
					<div class="col-sm-12 col-md-6 form-group">
						
			        <input id="{{ form.confirm_email.id_for_label }}" name="{{ form.confirm_email.name }}" type="text" class="form-control {% if form.confirm_email.errors %}is-invalid{% endif %}" placeholder="Confirm Email" required=""  value="{{ form.confirm_email.value|default:'' }}" />
							
			      
					</div>
				</div>
				<div class="form-row">
					<div class="col-sm-12 col-md-6 form-group">
						<input id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="New password" required="" />
						
					</div>
					<div class="col-sm-12 col-md-6 form-group">
						<input id="{{ form.confirm_password.id_for_label }}" name="{{ form.confirm_password.name }}" type="password" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" placeholder="Confirm password" required="" />
						<!--{% if form.confirm_password.errors %}
						<div class="invalid-feedback">
							{{ form.confirm_password.errors|first|safe }}
						</div>
						{% endif %}-->
					</div>
			  </div>
			  <a href="{% url 'resend_activation_link' %}" class="card-link link-color" data-toggle="tooltip" title="Request new password">I have't received the activation link?</a>
					
				<div class="text-right">
					
					<button href="#" class="btn btn-success btn-lg"><span class="fa fa-user-plus"></span> Sign Up</button>
				</div>
			</div>
		</form>
		<!--{% endif %}-->
	</div>
</div>
</div>
</section>
{% endblock %}