<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>KeyPTE Free PTE booster</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static "img/favicon.png" %}" rel="icon">
  <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" %}" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="{% static "css/bootstrap.css"> -->
  <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/re-order-paragraph.css" %}" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/owlcarousel/assets/owl.theme.default.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/animate/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/modal-video/css/modal-video.min.css" %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">
 
  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>e</span>Startup</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#about-us">About</a></li>
		  <li><a href="#contact">Contact</a></li>
          <!--<li><a href="{% url 'membership' %}">Pricing</a></li>-->
          <li><a href="#pricing">Pricing</a></li>
      {% if request.user.is_authenticated %}
      <li class="menu-has-children"><a href="#team">Hello {{ request.user.first_name }}</a>
        <ul>
      <li><a href="{% url 'account_logout' %}">Logout</a></li> 
      <li><a href="{% url 'account_logout' %}">Dashboard</a></li>
      <li><a href="{% url 'account_logout' %}">Notifications</a></li>
    </ul>
      {% else %}
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <li><a href="{% url 'account_register' %}">Sign up</a></li>
      {% endif %}
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  
{% block content %}

 {% endblock %}
  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
   <script src="{% static "lib/jquery/jquery.min.js"  %}" ></script>
   <script src="{% static "lib/jquery/jquery-migrate.min.js"  %}" ></script>
   <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js"  %}" ></script>
   <script src="{% static "lib/superfish/hoverIntent.js"  %}" ></script>
   <script src="{% static "lib/superfish/superfish.min.js"  %}" ></script>
   <script src="{% static "lib/easing/easing.min.js"  %}" ></script>
   <script src="{% static "lib/modal-video/js/modal-video.js"  %}" ></script>
   <script src="{% static "lib/owlcarousel/owl.carousel.min.js"  %}" ></script>
   <script src="{% static "lib/wow/wow.min.js"  %}" ></script>
  <!-- Contact Form JavaScript File -->
   <script src="{% static "contactform/contactform.js"  %}" ></script>

  <!-- Template Main Javascript File -->
   <script src="{% static "js/main.js"  %}" ></script>
 <!-- Bootstrap core JavaScript -->
    
 <script src="{% static "vendor/jquery/jquery.min.js" %}" ></script>
 <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Script for contact form starts -->
<script>

$(".contactForm").on('submit',function(event){
  event.preventDefault();
  function getCookie(name)
{
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  var name = $("#id_name").val();
  var email = $("#id_email").val();
  var subject = $("#id_subject").val();
  var message = $("#id_message").val();
  if ([name,email,subject,message].every(x => x.length>0)){
  $.ajax({
          type : "POST",
          url : '{% url "home" %}',
          data : {
            csrfmiddlewaretoken : getCookie('csrftoken'),
            'name' : name,
            'email' : email,
            'subject' : subject, 
            'message' : message,
          },
          success : function(){
            $(".contactformalert").show();
            $(".contactForm").hide();
          }
  })}


})
</script>
  <!-- Script for contact form ends -->
 <script>
     var timeleft = 8;
     var downloadTimer = setInterval(function(){
       document.getElementById("progressBar").value = 8 - --timeleft;
       document.getElementById("countdowntimer").textContent = timeleft;
       if(timeleft <= 0)
         clearInterval(downloadTimer);
     },1000);
     document.getElementById("audioContent").autoplay;
 </script>
 <script>
    function checkWords(){
      
      for (var i=0; i < 10;i++){
        var userInput = document.getElementById('object'+i).value;
        var word = document.getElementById('hidden'+i).innerHTML;
        
        document.getElementById('hidden'+i).style.display = 'inline'
        var hiddenclass = document.getElementById('hidden'+i)
        if (userInput===""){
         hiddenclass.classList.add("alert-warning")
        }
        else if ($.trim(word)!==$.trim(userInput)) {
         alert(userInput,word);
         hiddenclass.classList.add("alert-danger")
        }
        else{
         hiddenclass.classList.add("alert-success")
        }
      }
    }
 </script>
 <script>
   $('#replacewords').each(function() {
     var text = $(this).text();
     $(this).text(text.replaceWith('XXXX', '<div class="col-xs-2"><input class="form-control" id="ex1" type="text"></div>')); 
 });


 </script>
<script>
   function copy() {
     var VAL = $("#selection").select();
     var DTA = $(this).text();
     document.execCommand("copy");
   
 }
 function cut() {
   var VAL = $("#selection").select();
   var DTA = $(this).text();
   document.execCommand("copy");
   document.execCommand("delete");
}
function cut() {
 var VAL = $("#selection").select();
 var DTA = $(this).text();
 document.execCommand("copy");
 document.execCommand("paste");
}
   $(document).ready(function() {
     $("#word_count").on('keyup', function() {
         var words = this.value.match(/\S+/g).length;
         if (words > 300) {
             // Split the string on first 200 words and rejoin on spaces
             var trimmed = $(this).val().split(/\s+/, 300).join(" ");
             // Add a space at the end to keep new typing making new words
             $(this).val(trimmed + " ");
         }
         else {
             $('#display_count').text(words);
             
         }
     });
  }); 
</script>

<script>
   $(".checkParagraph").click(function(){
     var answers = new Array();
     $(".answerlist").each(function(){
       
       answers.push($(this).val());
     })
    
     $("#list2 li").each(function(i){
       
       if ($(this).attr('value')===answers[i]){
         
         $(this).css('background-color','green');
       }else{
         $(this).css('background-color','red');
       }
       i+=1
     });
     
   });

</script>
<script>
 $(".checkRecord").click(function(){
 var vid = document.getElementById("audioContent");
 alert(vid.duration);
});
</script>
<!-- Fill in the blanks listening starts -->
<script>
   $(".checkButton").click(function(){
     var answers = new Array();
     $(".answerlist").show();
     $(".lanswer").each(function(){
       
       answers.push($(this).val().trim());
     })
     console.log(answers);
    $(".userData").each(function(){
       console.log($(this).val().trim())
       if (jQuery.inArray($(this).val().trim(),answers)>-1){
   
         $(this).addClass('alert-success');
       }else{
         $(this).addClass('alert-danger');;
       }
      
   }) 
   
   
   });

 </script>
 <!-- spelling section starts-->
 <script>
   function checkSentences(){
     var InputId = $("#object0").val();
     var Answer = $( "div.demo-container" ).text();
     if(InputId.is(Answer)){
       
     }else{
       $( "div.demo-container" ).show();
     }
     
     
 
}
</script>
<!-- spelling section ends-->
 <!--$(".essayArea").attr('readonly','readonly');-->
  <script>
     function startTimer(duration, display) {
       var timer = duration, minutes, seconds;
       setInterval(function () {
           minutes = parseInt(timer / 60, 10)
           seconds = parseInt(timer % 60, 10);
   
           minutes = minutes < 10 ? "0" + minutes : minutes;
           seconds = seconds < 10 ? "0" + seconds : seconds;
   
           display.text(minutes + ":" + seconds);
   
           if (--timer < 0) {
               timer = duration;
               $(".essayArea").attr('readonly','readonly');
           }
          
       }, 1000);
   }
   
   jQuery(function ($) {
     
       var givenMinutes = 60 * 1,
           display = $('#time');
       startTimer(givenMinutes, display);
   });
    </script>
 

  <!-- Fill in the blanks listening ends -->
 <!-- Fill in the blanks reading starts -->
 <script>
   $(".fillReading").click(function(){
     var answers = new Array();
     $(".lanswer").each(function(){
       
       answers.push($(this).val().trim());
     })
     console.log(answers);
     
     $(".introleadin").each(function(){
       var a = $(this).find("option:selected").text();
      
       if (jQuery.inArray(a,answers) == -1){
   
       
         $(this).addClass('border border-danger');
       }else{
         $(this).addClass('border border-success');
       }
     });
     $('.answerlist').show();
   });
   </script>
 <!-- Fill in the blanks ends-->
 <!-- Listening mutiple selection start-->
 <script>
 $(".multipleCheck").click(function(){
   var answers= new Array;
   answers = $(".answers").val().split(',');
   
   $("input:checked").each(function(){
     var p = $(this).css('background-color');
     
     if (jQuery.inArray($(this).val(),answers) == -1){
   
       
       $('.answers').addClass('alert-danger');
     }else{
       $('.answers').addClass('alert-success');
     }
   });
   $('.answers').show();
 });
 </script>
 <!-- Listening mutiple selection ends-->
<!--highligh incorrect words section start-->
<script>
   $(".checkhighlight").click(function() {
     
     $(".clickable").each(function(){
       if ($(this).hasClass('crr')){
         $(this).css('background-color',"rgb(51, 153, 0)");

       }else{
        
         if($(this).css('background-color') == 'rgb(255, 255, 0)'){
           $(this).css('background-color',"rgb(204, 51, 0)");
         }
       }
       $(this).off('click');
     });

   });
   
 </script>
 <script>
     $(".clickable").click(function() {
       
       var $el = $(this);

       

       if ( $el.data('highlight') ) {
         $el.css('background-color', "");
         $el.data('highlight', false);
       }
       else {
         $el.css('background-color', "yellow");
         $el.data('highlight', true);
       }

       
     
   });
     
   </script>

<!--highligh incorrect words section end-->   

 <script> 
     
$(document).ready(function(){

jQuery('.getvalue').on('click', function(e) {
 $('#message').hide();
 $('#answer').hide();
 if ($('#answer').text()==$("input:radio[name=optradio]:checked").val()){
   $('#answer').show();
}else{

$('#message').show().text($("input:radio[name=optradio]:checked").val());
}
});
});

 </script>
 <script>
     (function($) {
       var dragging, placeholders = $();
       $.fn.sortable = function(options) {
         var method = String(options);
         options = $.extend({
           connectWith: false
         }, options);
         return this.each(function() {
           if (/^enable|disable|destroy$/.test(method)) {
             var items = $(this).children($(this).data('items')).attr('draggable', method == 'enable');
             if (method == 'destroy') {
               items.add(this).removeData('connectWith items')
                 .off('dragstart.h5s dragend.h5s selectstart.h5s dragover.h5s dragenter.h5s drop.h5s');
             }
             return;
           }
           var isHandle, index, items = $(this).children(options.items);
           var placeholder = $('<' + (/^ul|ol$/i.test(this.tagName) ? 'li' : 'div') + ' class="sortable-placeholder">');
           items.find(options.handle).mousedown(function() {
             isHandle = true;
           }).mouseup(function() {
             isHandle = false;
           });
           $(this).data('items', options.items)
           placeholders = placeholders.add(placeholder);
           if (options.connectWith) {
             $(options.connectWith).add(this).data('connectWith', options.connectWith);
           }
           items.attr('draggable', 'true').on('dragstart.h5s', function(e) {
             if (options.handle && !isHandle) {
               return false;
             }
             isHandle = false;
             var dt = e.originalEvent.dataTransfer;
             dt.effectAllowed = 'move';
             dt.setData('Text', 'dummy');
             index = (dragging = $(this)).addClass('sortable-dragging').index();
           }).on('dragend.h5s', function() {
             if (!dragging) {
               return;
             }
             dragging.removeClass('sortable-dragging').show();
             placeholders.detach();
             if (index != dragging.index()) {
               dragging.parent().trigger('sortupdate', {item: dragging});
             }
             dragging = null;
           }).not('a[href], img').on('selectstart.h5s', function() {
             this.dragDrop && this.dragDrop();
             return false;
           }).end().add([this, placeholder]).on('dragover.h5s dragenter.h5s drop.h5s', function(e) {
             if (!items.is(dragging) && options.connectWith !== $(dragging).parent().data('connectWith')) {
               return true;
             }
             if (e.type == 'drop') {
               e.stopPropagation();
               placeholders.filter(':visible').after(dragging);
               dragging.trigger('dragend.h5s');
               return false;
             }
             e.preventDefault();
             e.originalEvent.dataTransfer.dropEffect = 'move';
             if (items.is(this)) {
               if (options.forcePlaceholderSize) {
                 placeholder.height(dragging.outerHeight());
               }
               dragging.hide();
               $(this)[placeholder.index() < $(this).index() ? 'after' : 'before'](placeholder);
               placeholders.not(placeholder).detach();
             } else if (!placeholders.is(this) && !$(this).children(options.items).length) {
               placeholders.detach();
               $(this).append(placeholder);
             }
             return false;
           });
         });
       };
       })(jQuery);
       
       
       
       
       $(function() {
             $('.sortable').sortable();
             $('.handles').sortable({
               handle: 'span'
             });
             $('.connected').sortable({
               connectWith: '.connected'
             });
             $('.exclude').sortable({
               items: ':not(.disabled)'
             });
           });
 </script>
 
</body>
</html>
