<section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="/ptebooster/media/aboutus.png" alt="About">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2><span>PTEKey</span>Study material for PTE Academic </h2>
            <p align="justify">With PTEKey you don't need to pay a lot of money to Courses and spent your time with classes which you would get very little attention from tutors because of number of students in the class.
              We have experienced all these problems and created this website to help you. 
            </p>

            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i>Affordable</li>
              <li><i class="fa fa-angle-right"></i>High Quality</li>
              <li><i class="fa fa-angle-right"></i>Aims to High Score</li>
              <li><i class="fa fa-angle-right"></i>From a 90 scorer IT Guy</li>
              <li><i class="fa fa-angle-right"></i>Learning fast and fun</li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </section>
