{% extends "base.html" %}
{% load staticfiles%}

{% load custom_tags %}
{% block content %}
<!--==========================
    Hero Section
  ============================-->
  {% block hero %}
  {% include "home-hero.html" %}
  {% endblock %}
 <!--==========================
    Features Section
  ============================-->
  {% block features %}
  {% include "home-features.html" %}
  {% endblock %} 
 <!--==========================
    About Us Section
  ============================-->
  {% block aboutus %}
  {% include "home-aboutus.html" %}
  {% endblock %}
  <!--==========================
    Pricing Table Section
  ============================-->
  {% block pricing %}
  {% include "home-pricing.html" %}
  {% endblock %}
  <!--==========================
    Contact Section
  ============================-->
  {% block contact %}
  {% include "home-contact.html" %}
  {% endblock %}

    
{% endblock %}
    
    