{% load custom_tags %}
<section id="pricing" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Membership Options</h2>
        <!--  class separator to make all first letters capitalize-->
        <p class=" text-justify">PteKEY has a variety of membership options for you. The best way is to sign up 
          with a free account and give it a try. If you like it and if you need to practice more, then you can try other membership options.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        {% for membership_type in membership_list %}
      
            
        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>{{ membership_type.member_type}}</h4>
              <img src="{{ membership_type.image.url }}" alt="img" class="img-fluid">
              {% if membership_type.price == 0.0 %}
              <h2>Free</h2>
              {% else %}
              <h2>{{ membership_type.price}} AUD</h2>
              {% endif %}
              <ul class="list-unstyled">
                  {% for item in question_section_list %}
                <li><b>{{item.question_type}} </b> {% count_question section=item.question_type user_type=membership_type.member_type presedence=membership_type.presedence %}</li>
                {% endfor %}
                <li>{{ membership_type.duration}} months</li>
                
              </ul>
              <div class="table_btn">
                {% if membership_type.price == 0.0 %}
                {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="btn" ><i class="fa fa-graduation-cap"></i> Practice</a>
                {% else %}
                <a href="{% url 'account_register' %}" class="btn"><i class="fa fa-shopping-cart"></i> Signup Now</a>
                {% endif %}
                {% else %}
                {% if request.user.is_authenticated %}
                {% if request.user|id_check > membership_type.presedence %}
                <button href="#prising" class="btn btn-danger"><i class="fa fa-window-close-o"></i> Nop!</button>
                {% elif request.user|id_check == membership_type.presedence %}
                <form  action="{% url 'new_order' %}" method="get" >
                  
                <input type="hidden" class="form-control" name="member_type" id="id_member_type" value="{{ membership_type.member_type}}"/>
              
                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-shopping-cart"></i> Extend</button>
              </form>
                {%else%}
                <form  action="{% url 'new_order' %}" method="get">
                
                <input type="hidden" class="form-control" name="member_type" id="id_member_type" value="{{ membership_type.member_type}}"/>
                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-shopping-cart"></i> Buy Now</button>
                </form>
                {%endif%}
                {% else %}
                <a href="{% url 'account_register' %}"  class="btn btn-lg btn-success"><i class="fa fa-shopping-cart"></i> SignUp and Buy</a>
                {% endif %}
                {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>