<br>
<div class="row">
        <div class="col-sm-4"></div>
              
                  <div class="col-sm-4" style="background-color: #eee;">
                      <h5 class="text-center"> Recorded Answer </h5>
                      <p> Current Status :</p>
          
                      <p> Playing in <span id="countdowntimer">8 </span> Seconds</p>

                      <progress value="0" max="8" id="progressBar"></progress>
                      
                  </div>
                  <div class="col-sm-4"></div></div>
                  <br>