<div id="notifications" class="row hidden">
        <div class="container">
               
                                 
                                  
                                     <div class="inbox-head text-center bg-info">
                                          <h3><strong> Inbox</strong></h3>
                                          
                                      </div>
                                      <!--
                                      <div >
                                         <div class="mail-option">
                                             <div class="chk-all">
                                                 <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                                                 <div class="btn-group">
                                                     <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                                         All
                                                         <i class="fa fa-angle-down "></i>
                                                     </a>
                                                     <ul class="dropdown-menu">
                                                         <li><a href="#"> None</a></li>
                                                         <li><a href="#"> Read</a></li>
                                                         <li><a href="#"> Unread</a></li>
                                                     </ul>
                                                 </div>
                                             </div>
                
                                             <div class="btn-group">
                                                 <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                                                     <i class=" fa fa-refresh"></i>
                                                 </a>
                                             </div>
                                             <div class="btn-group hidden-phone">
                                                 <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                                     More
                                                     <i class="fa fa-angle-down "></i>
                                                 </a>
                                                 <ul class="dropdown-menu">
                                                     <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                                     <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                                     <li class="divider"></li>
                                                     <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                                 </ul>
                                             </div>
                                             <div class="btn-group">
                                                 <a data-toggle="dropdown" href="#" class="btn mini blue">
                                                     Move to
                                                     <i class="fa fa-angle-down "></i>
                                                 </a>
                                                 <ul class="dropdown-menu">
                                                     <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                                     <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                                     <li class="divider"></li>
                                                     <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                                 </ul>
                                             </div>
                
                                             <ul class="unstyled inbox-pagination">
                                                 <li><span>1-50 of 234</span></li>
                                                 <li>
                                                     <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                                                 </li>
                                                 <li>
                                                     <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                                                 </li>
                                             </ul>
                                         </div>--> 
                                          <table class="table border">
                                            <tbody>
                                              <!--<tr class="unread">
                                                  <td class="inbox-small-cells">
                                                      <input type="checkbox" class="mail-checkbox">
                                                  </td>
                                                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                                  <td class="view-message  dont-show">PHPClass</td>
                                                  <td class="view-message ">Added a new class: Login Class Fast Site</td>
                                                  <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                                  <td class="view-message  text-right">9:27 AM</td>
                                              </tr>-->
                                              <tr class="success">
                                                <td class="inbox-small-cells">
                                                  <a href="#" class="badge badge-success">Read</a>
                                                </td>
                                                <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                                <td class="view-message dont-show">Subject</td>
                                                <td class="view-message">From </td>
                                                <td class="view-message inbox-small-cells"></td>
                                                <td class="view-message text-right">Date</td>
                                            </tr>
                                          {% for item in notifications %}
                                              <tr class="">
                                                  <td class="inbox-small-cells">
                                                    <button id="body-{{item.id}}" onclick="readNotification(this.id)" class="badge badge-success">Read</button>
                                                  </td>
                                                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                                  <td class="view-message dont-show">{{ item.subject }}</td>
                                                  <td class="view-message">{{ item.created_by.first_name }} </td>
                                                  <td class="view-message inbox-small-cells"></td>
                                                  <td class="view-message text-right">{{ item.created_on }}</td>
                                              </tr> 
                                              <tr id="message-body-{{item.id}}" style="display:none">
                                                    <td colspan="6" >
                                                        <br>
                                                            <p align='justify'>{{ item.body }}</p>
                                                    </td>
                                                    
                                                </tr>
                                                <br>
                                              {% endfor %}
                                          </tbody>
                                          </table>
                                          
                                      </div>
                                    </div>    